import type { {{ name }} } from './{{ name_kebab }}.entity';
import type { {{ name }}Id } from './value-objects/{{ name_kebab }}-id.vo';

export abstract class {{ name }}RepositoryPort {
  abstract getAll(): Promise<{{ name }}[]>;
  abstract getById(id: {{ name }}Id): Promise<{{ name }}>;
  abstract create(entity: {{ name }}): Promise<{{ name }}>;
  abstract update(entity: {{ name }}): Promise<{{ name }}>;
  abstract delete(id: {{ name }}Id): Promise<void>;
}