import { Component } from '@angular/core';
import { AdminShellComponent } from './shared/layout/admin-shell.component';

@Component({
  selector: 'app-root',
  imports: [AdminShellComponent],
  templateUrl: '{{ template_url }}',
  styleUrl: '{{ style_url }}',
})
export class {{ component_class }} {}
