import { Component, inject } from '@angular/core';
import { MatButtonModule } from '@angular/material/button';
import { MatIconModule } from '@angular/material/icon';
import { MatDialogModule, MAT_DIALOG_DATA, MatDialogRef } from '@angular/material/dialog';
import { Router } from '@angular/router';

@Component({
  selector: 'app-{{ name_kebab }}-detail',
  imports: [
    MatButtonModule,
    MatIconModule,
    MatDialogModule,
  ],
  templateUrl: './{{ name_kebab }}-detail.component.html',
  styleUrl: './{{ name_kebab }}-detail.component.css',
})
export class {{ name }}DetailComponent {
  readonly data = inject<{% raw %}{{% endraw %} [key: string]: unknown }>(MAT_DIALOG_DATA);
  readonly #dialogRef = inject(MatDialogRef<{{ name }}DetailComponent>);
  readonly #router = inject(Router);

  onEdit(): void {
    this.#dialogRef.close();
    this.#router.navigate(['{{ route }}', this.data['id'], 'edit']);
  }

  onClose(): void {
    this.#dialogRef.close();
  }
}
