import { Component } from '@angular/core';
import { RouterLink, RouterLinkActive, RouterOutlet } from '@angular/router';

@Component({
  selector: 'app-admin-shell',
  imports: [RouterOutlet, RouterLink, RouterLinkActive],
  templateUrl: './admin-shell.component.html',
  styleUrl: './admin-shell.component.css',
})
export class AdminShellComponent {
  navOpen = true;

  toggleNav() {
    this.navOpen = !this.navOpen;
  }

  isMobile(): boolean {
    return window.innerWidth < 768;
  }
}
