import { Component, inject, OnInit, input } from '@angular/core';
import { RouterModule } from '@angular/router';
import { {{ name }}Store } from '../../application/{{ name_kebab }}.store';
import { {{ name }}Id } from '../../domain/value-objects/{{ name_kebab }}-id.vo';

@Component({
  selector: 'app-{{ name_kebab }}-detail',
  imports: [RouterModule],
  templateUrl: './{{ name_kebab }}-detail.component.html',
})
export class {{ name }}DetailComponent implements OnInit {
  readonly id = input.required<string>();

  readonly #store = inject({{ name }}Store);

  readonly item = this.#store.selected;
  readonly loading = this.#store.loading;
  readonly error = this.#store.error;

  ngOnInit(): void {
    this.#store.loadById({{ name }}Id.from(this.id()));
  }
}
